%h3 Changelog
%p In questa sezione sono elencati, in ordine cronologico, gli aggiornamenti rilasciati per il programma di segreteria medica 
%hr
%ul.no-bullet
  %span.title.text-enfatize [2015-06-26] #{link_to 'Versione 1.0.0', '#1.0.0', :name => '#1.0.0'}
  %ul
    %li [Nuovo] Rilascio ufficiale versione 1.0.0 di Whistle.i
